<div class="container h-100">
  <div class="content d-flex flex-column align-items-center justify-content-center h-100">
<!--    <div class="content__auth h-25 d-flex justify-content-center align-items-center">-->
<!--      <div class="auth btn-group" role="group" aria-label="Basic example">-->
<!--&lt;!&ndash;        <button disabled type="button" class="btn btn-primary auth__logo"></button>&ndash;&gt;-->
<!--        <button type="button" mat-flat-button class="btn auth__login border-left-0"-->
<!--                           (click)="openDialog()"></button>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
