.auth{
  &__logo{
    background-image: url("~src/assets/icons/clones/mailbox.png");
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
  }
}
