@import "src/assets/customCss/mod.palate";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

.auth{
  justify-content: center;
  align-items: center;

  &__card{
    display: flex;
    justify-content: space-between;
    min-width: 350px;
  }
  &__formContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__register{
    align-self: flex-end;
    font-weight: 400;
  }
  &__nav{
    justify-content: center;
  }
  &__sign{
    background-image: url("~src/assets/icons/webload/person-badge-fill.svg");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__email{
    border-radius: .25rem .25rem 0 0;
    border-bottom: 0;
  }
  &__password{border-radius:0 0 .25rem .25rem;}
  @media only screen and (max-width: 400px) {
    &__nav{
      justify-content: center;
    }
  }

  &__terms{
    font-size: $policy-terms;
    text-align: center;
  }
  &__recover{
    font-size: smaller;
    color:grey;
    padding:1em;
  }
  &__sso{
    height: 2rem;
  }
  &__sso > * {
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__github{background-image: url("../../assets/icons/artifacts/icons8_github.svg");}
  &__outlook{background-image: url("~src/assets/icons/artifacts/icons8-microsoft.svg");border-width:1px 0;}
  &__gmail{background-image: url("~src/assets/icons/artifacts/icons8-google.svg");}
}


.reg{
  &__psswd{
    border-radius: .25rem .25rem 0 0;
    border-bottom: 0;
  }
  &__cpsswd{border-radius:0 0 .25rem .25rem;}
}