<div class="d-flex flex-column h-100">
    <div class="login h-100 w-100 d-flex flex-column justify-content-between">
      <span class="login__head pb-2 pt-2 text-center justify-content-around">mailbox</span>
      <div class="d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button mat-flat-button type="button" class="btn btn-outline-dark">GitHub</button>
          <button mat-flat-button type="button" class="btn btn-outline-dark">Outlook</button>
          <button mat-flat-button type="button" class="btn btn-outline-dark">Gmail</button>
        </div>
      </div>
      <span class="login__terms m-2 d-flex flex-column justify-content-between text-sm-center">
        you're about to sign-in to our services, Curious about how we process your data?
      </span>
    </div>
</div>
