<div class="d-flex flex-column h-100">
    <div class="auth h-100 w-100 d-flex flex-column justify-content-between">
      <span class="auth__head pb-2 pt-2 text-center justify-content-around">mailbox</span>
      <div class="auth__nav d-flex btn-group d-flex" role="group" aria-label="Navigation">
        <button mat-stroked-button type="button" class="auth__sign btn"></button>
        <button mat-stroked-button type="button" class="auth__reg btn"></button>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center h-100 px-2">
        <div>
          <form [formGroup]="form" class="form-group W-100 d-flex flex-column justify-content-between align-items-center">
            <input formControlName="username" class="form-control mb-2" placeholder="username">
            <input formControlName="password" class="form-control" type="password" placeholder="password">
            <button mat-stroked-button class="btn btn-secondary mt-4 w-100">login</button>
          </form>
        </div>
      </div>
      <div class="btn-group d-flex justify-content-center" role="group" aria-label="SSO">
        <button mat-stroked-button type="button" class="btn">GitHub</button>
        <button mat-stroked-button type="button" class="btn">Outlook</button>
        <button mat-stroked-button type="button" class="btn">Gmail</button>
      </div>
      <span class="auth__terms m-2 d-flex flex-column justify-content-between">
        you're about to sign-in to our services, Curious about how we process your data?
      </span>
    </div>
</div>
