<div class="d-flex flex-column h-100">
    <div class="auth h-100 w-100 d-flex flex-column justify-content-between">
      <div class="auth__nav d-flex btn-group d-flex" role="group" aria-label="Navigation">
        <button mat-stroked-button (click)="login()" type="button" class="auth__sign btn btn-dark border-right-0">sign up</button>
        <button mat-stroked-button (click)="switchLogin()" type="button" class="auth__reg btn btn-dark">register</button>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center h-100 px-2">
        <template #dynamic></template>
      </div>
      <div class="btn-group d-flex justify-content-center" role="group" aria-label="SSO">
        <button mat-stroked-button type="button" class="btn">GitHub</button>
        <button mat-stroked-button type="button" class="btn">Outlook</button>
        <button mat-stroked-button type="button" class="btn">Gmail</button>
      </div>
    </div>
</div>
