<div class="h-100">
    <div class="nav d-flex flex-row p-0">
        <div class="nav__sidenav bg-white d-flex flex-column justify-content-between border-right">
            <div class="nav__s1 d-flex flex-column">
                <button mat-stroked-button class="nav__s1-logo border-0"></button>
                <button mat-stroked-button class="nav__s1-transit"></button>
                <button mat-stroked-button class="nav__s1-chat-box"></button>
                <button mat-stroked-button class="nav__s1-bookmark"></button>
                <button mat-stroked-button class="nav__s1-m-opt" (click)="drawer.toggle()"></button>
            </div>
            <div class="nav__s2 h-auto d-flex flex-column">
                <button mat-stroked-button class="nav__s2-gear"></button>
                <button mat-stroked-button class="nav__s2-person-circle" (click)="openDialog($event)"></button>
            </div>
        </div>
        <mat-drawer-container class="pin" autosize>
            <mat-drawer #drawer opened class="pin__inbox" position="start" mode="side">
                <div class="pin__container">
                    <div class="pin__title">
                        <span class="pin__head title d-flex text-capitalize">inbox</span>
                        <button mat-flat-button type="button" class="pin__filter"></button>
                    </div>
                    <div class="pin__sorted d-flex justify-content-start mb-3 w-100 pt-3">
                        <mat-tab-group class="w-100">
                            <mat-tab class="tabs tabs__all" label="all">
                                <mat-nav-list class="tabs__list">
                                    <mat-list-item class="tabs__item" *ngFor="let card of posts">
                                        <h6 matLine class="text-capitalize"> {{card.name}} </h6>
                                        <p matLine class="text-muted"> {{card.body}} </p>
                                        <p matLine class="text-muted"> {{card.email}} </p>
                                    </mat-list-item>
                                </mat-nav-list>
                            </mat-tab>
                            <mat-tab label="focused"></mat-tab>
                            <mat-tab label="others"> </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </mat-drawer>
            <div class="pin__content d-flex align-content-center w-100 canvas-activity">
                <div class="overflow-auto h-100 w-100"></div>
            </div>
        </mat-drawer-container>
    </div>
</div>
