/*------ font_size --------*/
$policy-terms: .75rem!important;

/*------- shades -----------*/


/*------- headers ----------*/
$head_sm: 1rem;
$head_md:2.5rem;
$head_lg:3rem;

/*------- padding ----------*/
$p1:.25rem;
$p2: .5rem;
$p3: 1rem;
$p4: 1.5rem;
$p5: 3rem;