/*------ font_size --------*/
$policy-terms: .75rem!important;

/*------- shades -----------*/


/*------- headers ----------*/
$head_sm: 1rem;
$head_md:2.5rem;
$head_lg:3rem;

$p1-sm: 1rem;
$pad-lg: 2rem;
$pad-lg: 4rem;