
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// @import'../src/assets/customCss/modifier.master.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mailbox-primary: mat-palette($mat-indigo);
$mailbox-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mailbox-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mailbox-theme: mat-light-theme((
  color: (
    primary: $mailbox-primary,
    accent: $mailbox-accent,
    warn: $mailbox-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mailbox-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
  *:focus{
      outline: none!important;
  }
  * ::placeholder{
    color: darkgrey!important;
  }
  .mat-tab-label{
    min-width: 0px!important;
  }
  .mat-tab-labels{
    display: flex;
    justify-content: space-between;
  }
  
  .auth__tabgroup > .mat-tab-body-wrapper{
    height: 100%!important;
  }

  .mat-dialog-container{
    padding: 0!important;
  }

  .cdk-overlay-dark-backdrop {
    background: transparent;
  }
  .mat-list-base {
    padding-top: 0;
}
}

